%%--------------------------------------------------------------------
%% compiler part
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [debug_info
           ,deterministic
           ,warnings_as_errors
           ,warn_missing_spec
           ,verbose
           ,compressed
           ]}.
{validate_app_modules, true}.

%%--------------------------------------------------------------------
%% dependencies option part.
%%--------------------------------------------------------------------
{deps, [{cowboy, "~> 2.10"}
       ,{gun, "~> 2.0"}
       ,{thoas, "~> 1.0"}
]}.

%%--------------------------------------------------------------------
%% @TODO improve the shell invocation
%%--------------------------------------------------------------------
{shell, []}.

%%--------------------------------------------------------------------
%% cover option part.
%%--------------------------------------------------------------------
{cover_enabled, true}.
{cover_opts, [verbose]}.

%%--------------------------------------------------------------------
%% eunit configuration part.
%%--------------------------------------------------------------------
{eunit_opts, [verbose]}.

%%--------------------------------------------------------------------
%% edocs documentation generation.
%%--------------------------------------------------------------------
{edoc_opts,
  [{preprocess, true}
  ,{private, true}
  ,{new, true}
  ,{todo, true}
  ,{report_missing_types, true}
  ,{link_predefined_types, true}
  ,{includes, ["include"]}
]}.

%%--------------------------------------------------------------------
%% Aliases. At this time, only a command helper to check automatically
%% the code with eunit, ct, cover and edoc.
%%--------------------------------------------------------------------
{alias
, [ {check
    , [ {eunit, "--cover --verbose --profile"}
      , {ct, "--cover --verbose"}
      , {cover, "--verbose"}
      , edoc
      ]
    }
  ]
}.

%%--------------------------------------------------------------------
%% Profiles configuration.
%%--------------------------------------------------------------------
{profiles, [{prod, [{relx, {mod, prod}}]}]}.

%%--------------------------------------------------------------------
%% Release configuration.  By default, nostr project embeds all
%% applications.
%%--------------------------------------------------------------------
{relx
, [ {release
    , {nostr, "0.1.0"}
    , [ bech32
      , nostr
      , nostr_client
      , nostr_relay
      , nostrlib
      , sasl
      ]
    }
  , {sys_config, "./config/sys.config"}
  , {vm_args, "./config/vm.args"}
  , {dev_mode, true}
  , {extended_start_script, true}
  ]
}.

%%--------------------------------------------------------------------
%% @TODO Escriptize configuration. This part of the configuration is
%% to produce an escriptize containing all application in one place
%% and use this application as standalone.
%%--------------------------------------------------------------------
{escript_main_app, nostr_cli}.
{escript_name, "nostr_cli"}.
{escript_incl_apps, [ bech32
                    , nostr
                    , nostr_client
                    , nostr_relay
                    , nostr_utils
                    , nostrlib
                    , sasl
                    , thoas
                    , gun
                    , ranch
                    , cowboy
                    ]}.

%%--------------------------------------------------------------------
%% @TODO add dialyzer support.
%%--------------------------------------------------------------------
