%%--------------------------------------------------------------------
%% compiler part
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [debug_info
           ,deterministic
           ,warnings_as_errors
           ,warn_missing_spec
           ,verbose
           ,compressed
           ]}.
{validate_app_modules, true}.

%%--------------------------------------------------------------------
%% dependencies option part.
%%--------------------------------------------------------------------
{deps, [{cowboy, "~> 2.10"}
       ,{gun, "~> 2.0"}
       ,{thoas, "~> 1.0"}
]}.

%%--------------------------------------------------------------------
%% @TODO improve the shell invocation
%%--------------------------------------------------------------------
{shell, [
  % {config, "config/sys.config"},
    {apps, [nostr]}
]}.

%%--------------------------------------------------------------------
%% cover option part.
%%--------------------------------------------------------------------
{cover_enabled, true}.
{cover_opts, [verbose]}.

%%--------------------------------------------------------------------
%% eunit configuration part.
%%--------------------------------------------------------------------
{eunit_opts, [verbose]}.

%%--------------------------------------------------------------------
%% edocs documentation generation.
%%--------------------------------------------------------------------
{edoc_opts,
  [{preprocess, true}
  ,{private, true}
  ,{new, true}
  ,{todo, true}
  ,{report_missing_types, true}
  ,{link_predefined_types, true}
  ,{includes, ["include"]}
]}.

%%--------------------------------------------------------------------
%% aliases
%%--------------------------------------------------------------------
{alias
,[{check
  ,[{eunit, "--cover --verbose --profile"}
   ,{ct, "--cover --verbose"}
   ,{cover, "--verbose"}
   ,edoc
  ]}
]}.

%%--------------------------------------------------------------------
%% @TODO add dialyzer support.
%% @TODO create the release with relx.
%%--------------------------------------------------------------------
